/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
  }
  
  nav {
    margin-top: 10px;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  button:hover {
    background-color: #005f75;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 300px;
    font-size: 16px;
  }
  
  footer {
    margin-top: 50px;
    color: #777;
  }
  
  /* 반응형 디자인 */
  @media (max-width: 600px) {
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    input {
      width: 90%;
    }
  }
  